:root {
    --secondary-color: #FF3EDF; /* var(--primary-color) */
    --primary-color: #04C8DE;
}

.form {
	width: 700px;
	background-color: var(--primary-color);
	background-image: radial-gradient(
			circle at 100% 150%,
			var(--primary-color) 24%,
			var(--secondary-color) 24%,
			var(--secondary-color) 28%,
			var(--primary-color) 28%,
			var(--primary-color) 36%,
			var(--secondary-color) 36%,
			var(--secondary-color) 40%,
			transparent 40%,
			transparent
		),
		radial-gradient(
			circle at 0 150%,
			var(--primary-color) 24%,
			var(--secondary-color) 24%,
			var(--secondary-color) 28%,
			var(--primary-color) 28%,
			var(--primary-color) 36%,
			var(--secondary-color) 36%,
			var(--secondary-color) 40%,
			transparent 40%,
			transparent
		),
		radial-gradient(
			circle at 50% 100%,
			var(--secondary-color) 10%,
			var(--primary-color) 10%,
			var(--primary-color) 23%,
			var(--secondary-color) 23%,
			var(--secondary-color) 30%,
			var(--primary-color) 30%,
			var(--primary-color) 43%,
			var(--secondary-color) 43%,
			var(--secondary-color) 50%,
			var(--primary-color) 50%,
			var(--primary-color) 63%,
			var(--secondary-color) 63%,
			var(--secondary-color) 71%,
			transparent 71%,
			transparent
		),
		radial-gradient(
			circle at 100% 50%,
			var(--secondary-color) 5%,
			var(--primary-color) 5%,
			var(--primary-color) 15%,
			var(--secondary-color) 15%,
			var(--secondary-color) 20%,
			var(--primary-color) 20%,
			var(--primary-color) 29%,
			var(--secondary-color) 29%,
			var(--secondary-color) 34%,
			var(--primary-color) 34%,
			var(--primary-color) 44%,
			var(--secondary-color) 44%,
			var(--secondary-color) 49%,
			transparent 49%,
			transparent
		),
		radial-gradient(
			circle at 0 50%,
			var(--secondary-color) 5%,
			var(--primary-color) 5%,
			var(--primary-color) 15%,
			var(--secondary-color) 15%,
			var(--secondary-color) 20%,
			var(--primary-color) 20%,
			var(--primary-color) 29%,
			var(--secondary-color) 29%,
			var(--secondary-color) 34%,
			var(--primary-color) 34%,
			var(--primary-color) 44%,
			var(--secondary-color) 44%,
			var(--secondary-color) 49%,
			transparent 49%,
			transparent
		);
	background-size: 100px 50px;
}
